@model WorldOfBicycles.ViewModels.RentViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Аренда велосипедов";
}

<div style="margin-top:100px">
    <p>Арендованные велосипеды</p>
</div>

